<ion-view title="Tentang">
  <ion-content class="padding">
    <div class="card">
      <div class="item item-divider">
        Om Swastyastu
      </div>
      <div class="item item-text-wrap">
        <p style="text-align:center"><img src="img/logo.jpg" width="200"></p>
        <p>Aplikasi ini adalah inisiatif pribadi dengan tujuan memudahkan masyarakat untuk melihat Eedan Karya Agung di Banjar Juga terutama bagi yang tidak mempunyai versi cetaknya.</p>
        <p>Data untuk aplikasi ini saya peroleh dari team dokumentasi Karya yang dibagikan melalui akun Facebook Karya Agung Banjar Juga.</p>
        <p>Aplikasi ini hanya untuk kalangan dan pemakaian pribadi, apabila ada kesalahan penulisan, tanggal ataupun yang lainnya berkaitan dengan eedan karya, saya mohon maaf yang sebesar-besarnya.</p>
        <p>Koreksi, kritik dan saran bisa disampaikan ke Putu Eka Putra (08174765840).</p>
        <p>Segala data dan logo yang digunakan dalam aplikasi ini bersumber dari file publik yang dibagikan melalui akun <a target="_self" href="https://www.facebook.com/groups/1545000485721415/">Facebook Banjar Juga</a></p>
      </div>
      <div class="item item-divider">
        Om Santhi Santhi Santhi Om.
      </div>
    </div>

    <div class="list card">

      <a href="https://raw.githubusercontent.com/ekaputra07/eedan-karya/master/eedan-karya.xls" target="_self" class="item item-icon-left">
        <i class="icon ion-arrow-down-a"></i>
        Download Eedan Karya
      </a>
      <a href="https://www.facebook.com/groups/1545000485721415/" target="_self" class="item item-icon-left">
        <i class="icon ion-social-facebook"></i>
        Akun Facebook Br. Juga
      </a>

    </div>

  </ion-content>
</ion-view>
